.home-movie-list {
    display: grid;
    grid-column: full-start /full-end;

    &__wrapper {
        display: flex;
        flex-wrap: wrap;

        padding: 2rem 0;
        background-color: var(--mainwhite);
    }
}